---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// @import url(https://fonts.googleapis.com/css?Dokdo|Noto+Sans+KR|Cousine);
@import url(https://fonts.googleapis.com/css2?family=Cousine&family=Noto+Sans+KR&display=swap);

// $sans-serif: 'Noto Sans KR';
// $sans-serif: "Dokdo";
// $serif: 'Dokdo' !default;
// $global-font-family: $serif !default;

$monospace: "Cousine";
$type-size-4-5: 1em !default;

.highlight {
    font-family: $monospace;
    font-size: $type-size-4-5;
  }
  
  .language-plaintext {
    font-family: $monospace;
    // font-size: $type-size-5;
    background: #efefef;
  }


.page__content {
  h2 {
    border-left-width: 8px;
    margin-left: 2px;
    padding: 4px 0px 8px 8px;
    border-left-style: solid;
    border-left-color: #55555b;
    border-bottom: 2px solid #cccccc;
    // padding-bottom: 0.4em;
  }
}

.nav__sub-title {
  text-transform: none;
}

.archive {
  padding-left: 30px;
}

#footer, .page__footer-follow, .page__footer-copyright {
  display: none;
}

section.page__content > p.text-center > strong {
  color: black;
}

section.page__content > p > strong {
  color: #ef5369;
}